.banner {
    background: var(--hover-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 0;
    .close-icon {
     margin-left: 20px;
     cursor: pointer;
     &:hover {
        color: var(--primary-color);
     }
    }
    a {
        margin: 0 10px;
        color: black;
        text-decoration: underline;
        &:hover {
            color: var(--primary-color);
        }
    }
}
.close {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .banner {
padding: 10px;
        .close-icon {
            margin: 0;
        }
    }
}