footer {
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    h1:hover {
        color: var(--hover-color);
    }
} 
ul {
    max-width: 20%;
li {
    svg {
    cursor: pointer;
    min-height: 40px;
    color: white;
    &:hover {
        color: var(--hover-color);
    }
    }
}
}

@media screen and (max-width: 768px) {
    footer {
position: absolute;
        bottom: 0;
        .container {
            width: 90%;
        }
        ul {
            max-width: 100%;
        }
    }
}