.slider-categories {
    ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 40px;
    li {
        font-size: 28px;
        margin-right: 45px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
    }
    a {
        color: #D3D7DA;
        &:active {
            color: #000;
        }
    }
}
.long-arrow {
    height: 40px;
    margin-right: 45px;
}
.right-side-slider {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    a {
        padding-bottom: 5px;
        color: #000;
        font-weight: 600;
        text-decoration: underline;
        margin-right: 40px;
    }
    .angle-icons {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        &:hover {
            cursor: pointer;
            color: var(--hover-color);
        }
    }
}
}

@media screen and (max-width: 768px) {
    .slider-categories {
        ul {
        padding: 0 15px;
        list-style: none;
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-bottom: 40px;
        li {
            font-size: 28px;
            margin-right: 45px;
            line-height: 36px;
            font-weight: 700;
            text-align: center;
        }
        a {
            color: #D3D7DA;
            &:active {
                color: #000;
            }
        }
    }
    .long-arrow {
        height: 40px;
        margin-right: 45px;
    }
    .right-side-slider {
        a {
            right: 215vh;
            top: 430px;
            position: relative;
            color: #000;
            font-weight: 600;
            text-decoration: underline;
        }
        .angle-icons {
        display: none;
            }
        }
    }
    }