:root {
    --hover-color: #BAFF39;
    --primary-color: #6E6E6E;
    --secondary-color: #fff;
    --text-color: #fff;
    --slider-padding: 5rem; 
}

.m-right {
    margin-right: 20px;
}
.pointer {
    cursor: pointer;
}
