@import '_navbar.scss';
@import '_footer.scss';
@import '_vars.scss';
@import '_header.scss';
@import '_banner.scss';
@import '_men-category.scss';
@import '_items-slider.scss';
@import '_view-all.scss';
@import '_login.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
 h1 {
    color: #fff;
 }
}
a {
    text-decoration: none;
}
.logo {
    width: 60px;
    height: 60px;
}
.body-container {
    width: 1600px;
    margin: 0 auto;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 40%;
        a {
            color: var(--text-color);
            font-size: 1.5rem;
            font-weight: bold;
            &:hover {
                color: var(--hover-color);
            }
        }
    }
}